@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: #4A3B8E;
}

#holo-burst {
    margin: 50px 0 0 0;
    width: 1000px;
    height: 1000px;
    border-radius: 15px;
}

.blurb {
    box-sizing: border-box;
    background-color: #a2a2a2;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

